<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
</head>
<body>
<H2>
    Student Registration Form
</H2>
<form th:action="@{/processStudentForm}"
      th:object="${student}"
      th:method="POST">
    First Name <input type="text" th:field="*{firstName}"/>
    <br><br>
    Last Name <input type="text" th:field="*{lastName}"/>
    <br><br>
    <input type="submit" value="Submit">

</form>

</body>
</html>