<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
</head>
<body>
<H2>
    Student Registration Form
</H2>
<form th:action="@{/processStudentForm}"
      th:object="${student}"
      th:method="POST">
    First Name <input type="text" th:field="*{firstName}"/>
    <br><br>
    Last Name <input type="text" th:field="*{lastName}"/>
    <br><br>
    <select th:field="*{country}">
        <!--    <option th:value="Brazil">Brazil</option>-->
        <!--    <option th:value="England">England</option>-->
        <!--    <option th:value="Bulgaria">Bulgaria</option>-->
        <!--    <option th:value="Romania">Romania</option>-->
        <!--    <option th:value="Germany">Germany</option>-->
        <!--    <option th:value="Argentina">Argentina</option>-->
        <!--    <option th:value="Canada">Canada</option>-->
        <option th:each="country:${countries}" th:value="${country}" th:text="${country}"></option>


    </select>
    <br><br>
    Favourite programing language:
<!--    <input type="radio" th:field="*{programingLanguage}" th:value="Java">Java-->
<!--    <input type="radio" th:field="*{programingLanguage}" th:value="Python">Python-->
<!--    <input type="radio" th:field="*{programingLanguage}" th:value="PHP">PHP-->
    <input type="radio" th:field="*{programingLanguage}"
    th:each="language: ${languages}"
    th:value="${language}"
    th:text="${language}+' '">
    <br><br>
    <input type="submit" value="Submit">

</form>

</body>
</html>